body {
    font-family: sans-serif;
    background: #040404;
    color: #fff;
    position: relative;
    background: transparent;
    &::before {
        content: "";
        position: fixed;
        background: #040404 top right no-repeat;
        background-size: cover;
        left: 0;
        right: 0;
        top: 0;
        height: 100vh;
        z-index: -1;
    }
}

$primary-color: lightblue;
$secondary-color: pink;
a {
    color: $primary-color;
    text-decoration: none;
    transition: 0.5s;
    &:hover {
        color: $secondary-color;
        text-decoration: underline;
    }
}

// LANDING PAGE
#landing {
    width: 100%;
    height: 100vh;
    background: url(https://images.pexels.com/photos/310452/pexels-photo-310452.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260)
        top right;
    background-size: cover;
    position: relative;
    &::before {
        content: "";
        background: rgba(0, 0, 0, 0.55);
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
    }
    .landing-container {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        justify-content: center;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 0 15px;
    }
    .profileImg {
        display: inline-block;
        width: 180px;
        height: 180px;
        border-radius: 50%;
        object-fit: cover;
        border: 0.5rem solid rgba(255, 255, 255, 0.4);
    }
    h1 {
        margin: 10px 0 15px 0;
        font-size: 3.9rem;
        font-family: fantasy;
        color: #fff;
        text-align: center;
    }
    h2 {
        text-align: center;
        color: #fff;
        margin-bottom: 25px;
        font-size: 1.6rem;
        font-weight: 500;
        letter-spacing: 1px;
        font-family: "Shippori Mincho B1", serif;
    }
    .nav-links {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        ul {
            margin: 0;
            padding: 0;
            display: flex;
            list-style: none;
            align-items: center;
            flex-wrap: wrap;
            justify-content: space-evenly;
        }
        a {
            font-size: 1.5rem;
            color: $primary-color;
            text-decoration: none;
            li {
                position: relative;
            }
            .btn-scroll {
                transition: 0.7s;
            }
            &::before {
                content: "";
                position: absolute;
                height: 2px;
                bottom: 19px;
                top: 38px;
                background-color: $primary-color;
                visibility: hidden;
                width: 0px;
                transition: all 0.3s ease-in-out 0.2s;
            }
            &.active:before {
                visibility: visible;
                width: 30px;
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    #landing{
        h1{
            font-size: 3.1rem;
        }
        h2{
            font-size: 1.1rem;
        }
    }
}

@media only screen and (max-width: 410px) {
    #landing{
        h1{
            font-size: 2.9rem;
        }
        h2{
            display: none;
        }
        .nav-links{
            ul{
                flex-direction: column;
            }
        }
    }
}

//NAV BAR
#navbar {
    background: #040404;
    display: flex;
    align-items: center;
    z-index: 997;
    overflow-y: auto;
}
#navbar.nav-top {
    height: 90px;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    .container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        h1 {
            margin: 0;
            margin-right: auto;
            margin-left: 15px;
            font-size: 55px;
            font-weight: 700;
            font-family: fantasy;
            color: #fff;
        }
    }
    .nav-links {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        ul {
            margin: 0;
            padding: 0;
            display: flex;
            list-style: none;
            align-items: center;
        }
        a {
            font-size: 1.5rem;
            color: $primary-color;
            text-decoration: none;
            // li {
            //     position: relative;
            // }
            .btn-scroll {
                transition: 0.7s;
            }
            &::before {
                content: "";
                position: absolute;
                height: 2px;
                bottom: 19px;
                top: 38px;
                background-color: $primary-color;
                visibility: hidden;
                width: 0px;
                transition: all 0.3s ease-in-out 0.1s;
            }
            &.active:before {
                visibility: visible;
                width: 30px;
            }
        }
    }
}

@media only screen and (max-width: 990px) {
    #navbar.nav-top {
        .container {
            justify-content: center;
            h1#name {
                display: none;
            }
        }
    }
}

@media only screen and (max-width: 580px) {
    #navbar.nav-top {
        .container {
            justify-content: center;
            a {
                font-size: 1.1rem;
            }
        }
    }
}

@media only screen and (max-width: 460px) {
    #navbar.nav-top {
        .container {
            justify-content: center;
            a {
                font-size: 0.9rem;
            }
        }
    }
}

@media only screen and (max-width: 415px) {
    #navbar.nav-top {
        .container {
            justify-content: center;
            a {
                padding: .7rem;
                font-size: 0.7rem;
            }
        }
    }
}

@media only screen and (max-width: 310px) {
    #navbar.nav-top {
        display: none;
    }
}


// SKILLS
.skills {
    .section-title {
        font-size: 26px;
        font-weight: 700;
        margin-top: 20px;
        margin-bottom: 20px;
        color: #fff;
        font-family: "Shippori Mincho B1", serif;
    }
    .section-subtitle {
        margin-top: -2px;
        position: relative;
        h4 {
            // text-align: center;
            line-height: 18px;
            font-size: 18px;
            font-weight: 600;
            text-transform: uppercase;
            font-family: sans-serif;
            color: $primary-color;
            margin-bottom: 10px;
            font-family: "Quicksand", sans-serif;
        }
        .borderLine {
            content: "";
            position: absolute;
            // left: 85px;
            top: 30px;
            width: 175px;
            height: 5px;
            background: $primary-color;
        }
    }
    .row {
        margin-top: 40px;
    }
    .progress {
        height: 60px;
        display: block;
        background: none;
        border-radius: 0;
        .skill {
            padding: 10px 0;
            margin: 0;
            text-transform: uppercase;
            display: block;
            font-weight: 500;
            font-family: sans-serif;
            color: #fff;
            .val {
                float: right;
                font-style: normal;
            }
        }
    }
    .progress-bar-wrap {
        background: rgb(233, 233, 233);
    }
    .progress-bar {
        height: 10px;
        background: $primary-color;
    }
}

//RESUME
.resume {
    // padding-bottom: 35px;
    .section-title {
        font-size: 26px;
        font-weight: 700;
        margin-top: 20px;
        margin-bottom: 20px;
        color: #fff;
        font-family: "Shippori Mincho B1", serif;
        // text-align: center;
    }
    .section-subtitle {
        margin-top: -2px;
        position: relative;
        h4 {
            // text-align: center;
            line-height: 18px;
            font-size: 18px;
            font-weight: 600;
            text-transform: uppercase;
            font-family: sans-serif;
            color: $primary-color;
            margin-bottom: 10px;
            font-family: "Quicksand", sans-serif;
        }
        .borderLine {
            content: "";
            position: absolute;
            top: 30px;
            width: 212px;
            height: 5px;
            background: $primary-color;
        }
    }
    .resume-title {
        margin-top: 40px;
    }
    .resume-item {
        padding: 0 0 20px 20px;
        margin-top: -2px;
        border-left: 2px solid $primary-color;
        position: relative;
        h4 {
            line-height: 18px;
            font-size: 18px;
            font-weight: 600;
            text-transform: uppercase;
            font-family: sans-serif;
            color: $primary-color;
            margin-bottom: 10px;
            font-family: "Quicksand", sans-serif;
        }
        h5 {
            font-size: 16px;
            background: rgba(255, 255, 255, 0.2);
            padding: 5px 15px;
            display: inline-block;
            font-weight: 600;
            margin-bottom: 10px;
        }
        ul {
            padding-left: 20px;
            li {
                padding-bottom: 0;
            }
        }
        &:last-child {
            padding-bottom: 0;
        }
        &::before {
            content: "";
            position: absolute;
            width: 16px;
            height: 16px;
            border-radius: 50px;
            left: -9px;
            top: 0;
            background: $secondary-color;
            border: 2px solid $primary-color;
        }
    }
}

// PORTFOLIO
.portfolio {
    // padding-bottom: 40px;
    .section-title {
        font-size: 26px;
        font-weight: 700;
        margin-top: 20px;
        margin-bottom: 20px;
        color: #fff;
        font-family: "Shippori Mincho B1", serif;
        // text-align: center;
    }
    .section-subtitle {
        margin-top: -2px;
        position: relative;
        h4 {
            // text-align: center;
            line-height: 18px;
            font-size: 18px;
            font-weight: 600;
            text-transform: uppercase;
            font-family: sans-serif;
            color: $primary-color;
            margin-bottom: 10px;
            font-family: "Quicksand", sans-serif;
        }
        .borderLine {
            content: "";
            position: absolute;
            // left: 85px;
            top: 30px;
            width: 245px;
            height: 5px;
            background: $primary-color;
        }
    }
    .buttons {
        justify-content: center;
        font-family: sans-serif;
        text-transform: uppercase;
        display: flex;
        flex-direction: row;
        margin-top: 40px;
        .button {
            cursor: pointer;
            margin-right: 12px;
            font-weight: 600;
            padding: 4px 6px;
            background: rgba(255, 255, 255, 0.2);
            border-radius: 4px;
            transition: all 0.4s;
            &:hover {
                background-color: $primary-color;
            }
            &:last-child {
                margin-right: 0;
            }
        }
        .active {
            background-color: $primary-color;
        }
    }
    .work-container {
        margin-top: 30px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        .web {
            cursor: pointer;
        }
        .web,
        .adobe,
        .photo {
            // border: 0.5rem solid rgba(0, 0, 0, .9);
            margin-bottom: 20px;
            img {
                width: 400px;
                height: 300px;
            }
        }
    }
}

@media only screen and (max-width: 460px) {
    .portfolio {
        .work-container {
            .web,
            .adobe,
            .photo {
                img {
                    width: 300px;
                    height: 220px;
                }
            }
        }
    }
}

@media only screen and (max-width: 340px) {
    .portfolio {
        .work-container {
            .web,
            .adobe,
            .photo {
                img {
                    width: 200px;
                    height: 150px;
                }
            }
        }
    }
}

//CONTACT
.contact {
    .section-title {
        font-size: 26px;
        font-weight: 700;
        margin-top: 20px;
        margin-bottom: 20px;
        color: #fff;
        font-family: "Shippori Mincho B1", serif;
        // text-align: center;
    }
    .section-subtitle {
        margin-top: -2px;
        position: relative;
        h4 {
            // text-align: center;
            line-height: 18px;
            font-size: 18px;
            font-weight: 600;
            text-transform: uppercase;
            font-family: sans-serif;
            color: $primary-color;
            margin-bottom: 10px;
            font-family: "Quicksand", sans-serif;
        }
        .borderLine {
            content: "";
            position: absolute;
            top: 30px;
            width: 115px;
            height: 5px;
            background: $primary-color;
        }
        ul {
            li {
                padding-bottom: 0;
            }
        }
        &:last-child {
            padding-bottom: 0;
        }
    }
    .row {
        margin-top: 40px;
        .info-box {
            padding: 20px;
            background: rgba(255, 255, 255, 0.08);
            width: 100%;
            // max-width: 570px;
            .icon {
                width: 50px;
                border-radius: 50%;
                padding: 14px;
                float: left;
                background: rgba(255, 255, 255, 0.1);
                margin-right: 20px;
                color: $primary-color;
            }
            .social-links {
                a {
                    color: #fff;
                    margin-right: 5px;
                    &:hover {
                        color: $primary-color;
                    }
                }
            }
            p {
                margin-bottom: 0;
            }
        }
    }
}
